*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Gabarito", serif;
    background-color: white;
    height: 100vh;
}

/* header */

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    font-size: 24px;
    background-color: black;
    color: white;
    padding: 10px;
}
.header .off {
    font-weight: bold;
}
.header .closehead {
    padding-left: 50px;
    cursor: pointer;
}

/* navbar */

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 5;
    border-bottom: 3px white solid;
    align-items: baseline;
}
.navbar .menu {
    display: flex;
    flex-direction: row;
    gap: 70px;
}
.nav-link a{
    text-decoration: none;
    color: #5c5c5c;
}
.nav-link a:hover{
    text-decoration: underline;
    color: #1D232C;
}
#menuicon{
    display: none;
    cursor: pointer;
}

/* side nav */

.sidenav{
    display: none;
    width: 50%;
    background-color: rgb(52, 52, 52);
    color: white;
    height: 100vh;
    left: 0;
    z-index: 20;
    top: 0;
    position: absolute;
    text-align: center;
    transition: all;
    transition-duration: 1s;
}
.sidenav a{
    text-decoration: none;
    color: #ffffff;
}
.sidenav a:hover{
    text-decoration: underline;
    color: white;
}
.closenavbar{
    text-align: right;
    padding: 30px;
    cursor: pointer;
    transition: all;
    transition-duration: 1s;
}

/* slider */

.container {
    height: 550px;
    width: 98%;
    border-radius: 20px;
    margin: 2px auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: relative;
    background: url("images/bnr1.jpg") center/cover;
    transition: background 1s ease-in-out;
    z-index: 1;
    margin-top: 20px;
}
.overlay{
    background-color: black;
    height: 550px;
    width: 100%;
    opacity: 0.5;
    position: relative;
    border-radius: 20px;
}
.overlay h1{
    color: white;
    position: absolute;
    top: 45%;
    left: 150px;  
}
.overlay button{
    background-color: white;
    position: absolute;
    top: 62%;
    left: 150px;
    width: 100px;
    height: 30px;
    border-radius: 7px;
    cursor: pointer;
}
.btn-left{
    color: rgb(255, 255, 255);   
    position: absolute;
    top: 45%;
    cursor: pointer;
    z-index: 1;
}
.btn-right{
    color: rgb(255, 255, 255);   
    position: absolute;
    right: 0;
    top: 45%;
    cursor: pointer;
}

/* brands */

.brands{
    padding: 20px;
    margin-top: 50px;
}
.brands .names{
    display: flex;
    flex-direction: row;
    gap: 70px;
    padding-top: 20px;
    width: 100%;
}
.brands img{
    width: 150px;
    height: 70px;
}

/* assurance */

.assurance{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.assurance p{
    font-size: x-large;
}

/* promise */

.promise{
   padding: 20px;
   display: flex;
   flex-direction: row;
   gap: 20px;
   margin-top: 50px;
}
.promise img {
    width: 50px;
    margin-bottom: 5px;
}
.promise2 img{
    width: 40px;
    margin-bottom: 10px;
}
.promise4 img{
    width: 60px;
    margin-bottom: 0;
}
.promise .promise1,.promise2,.promise3,.promise4 {
    background-color: rgb(216, 216, 216);
    width: 450px;
    padding: 10px;
    border-radius: 10px;
}

/* new arrival */

.newarrival{
    padding: 20px;
    margin-top: 50px;
}
.newarrival img{
    width: 280px;
    height: 280px;
    padding: 10px;
}
.container1{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 95px;
}
.newarr1,.newarr2,.newarr3,.newarr4 {
    position: relative;
    display: inline-block;
    border-radius: 10px;
    margin-top: 20px;
}
.newarr1 button,.newarr2 button,.newarr3 button,.newarr4 button{
    position: absolute;
    background-color: rgb(207, 207, 207);
    left: 110px;
    top: 140px;
    width: 80px;
    height: 40px;
    z-index: 1;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.newarr1 img,.newarr2 img,.newarr3 img,.newarr4 img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 10px;
    width: 280px;
    height: 280px;
}

.newarr1::after,.newarr2::after,.newarr3::after,.newarr4::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Black overlay with 40% opacity */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: opacity 0.2s ease;
    border-radius: 10px;
}

.newarr1:hover::after,.newarr2:hover::after,.newarr3:hover::after,.newarr4:hover::after {
    opacity: 0.5; /* Darker overlay on hover */
}

/* most wanted */

.mostwanted{
    padding: 20px;
    margin-top: 50px;
}
.container2{
    padding-left: 2px;
    padding-right: 2px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 350px;
    gap: 15px;
    margin: 2px auto;
    overflow-x: auto;
}
.container2::-webkit-scrollbar{
    width: 0;
}
.most1{
    border: 1px solid rgb(228, 228, 228);
    border-radius: 10px;
    width: 300px;
    height: 300px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: relative;
    margin-top: 30px;
    
}
.most1 img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

#btn1,#btn2,#btn3,#btn4,#btn5,#btn6,#btn7,#btn8{
    position: absolute;
    right: 15px;
    bottom: 15px;
    font-size: 32px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.far{
    color: black;
}
.fas{
    color: #fd0031;
}

.most1 .btn{
    position: absolute;
    border-radius: 5px;
    left: 5px;
    top: 5px;
    width: 50px;
    height: 30px;
    background-color: red;
    border: none;
    cursor: pointer;
}

/* limitted offer */

.ltdoffer{
    padding: 20px;
}
.offer{
    background-color: rgb(52, 52, 52);
    width: fill;
    height: 400px;
    display: flex;
    position: relative;
}
.offer img{
    position: absolute;
    top: 20px;
    left: 150px;
}
.offertag{
    position: absolute;
    top: 150px;
    right: 250px;
    font-size: 26px;
    color: white;
}
.offer button{
    width: 200px;
    height: 50px;
    font-size: large;
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

/* news letter */

.newsltr{
    padding: 20px;
    margin-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#newshead{
    font-size: 56px;
}
.newspar{
    font-size: 34px;
}
.newsltr input{
    width: 1200px;
    height: 20px;
    border: 3px solid black;
    padding: 10px;
}
.newsltr ::placeholder{
    padding: 0;
    font-size: 16px;
}
.newsltr button{
    background-color: black;
    color: white;
    width: 200px;
    height: 50px;
    font-size: large;
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    cursor: pointer; 
}

/* footer */

.footer{
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 80px;
}
.footer h1{
    font-size: 46px;
}
.footer p{
    font-size: 26px;
}
.icons{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
#icon{
    cursor: pointer;
}

/* contact form */

.contactfrm{
    padding: 20px;
    background-color: white;
    margin-top: 30px;
}
.frmcontainer{
    background-color: black;
    color: white;
    width: 800px;
    margin-left: 330px;
    height: 530px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.frmcontainer h1{
    text-align: left;
    font-size: 44px;
}
.frmcontainer p{
    font-size: 24px;
}
.frmcontainer input{
    width: 790px;
    height: 50px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding-left: 10px;
}
.frmcontainer textarea{
    width: 790px;
    height: 100px;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 10px;
}
.frmcontainer button{
    width: 150px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: rgb(93, 93, 255);
    color: white;
    font-size: 16px;
}
.frmcontainer button:hover{
    background-color: blue;
}

/* collections */
.collections{
    padding: 20px;
    display: flex;
    flex-direction: row;
}
.fltrsection{
    width: 600px;
}
.fltrcontainer{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 30px;
}
.filters{
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 30px;
}
.filters h3{
    font-size: 26px;
    margin-bottom: 10px;
}
.occasion input,.colors input,.arraivals input{
    margin-bottom: 10px;
}
.occasion label,.colors label,.arraivals label{
    font-size: 18px;
}
.vertical-line{
    width: 2px;
    height: 1180px;
    background-color: black;
}

/* dresscollection */

.drsscollection{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 50px;
}
.product{
    background-color: rgb(255, 255, 255);
    width: 400px;
    width: 400px;
    text-align: center;
    margin-bottom: 10px;
}

.dresses img{
    width: 300px;
    height: 300px;
    margin-left: 6px;  
}

.dresses{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    flex-basis: 25%;
}

.searchoptn input{
    width: 1200px;
    height: 40px;
    border: 2px black solid;
    border-radius: 10px;
    padding-left: 10px;
    position: relative;
}
#icon {
    font-size: 32px;
}


@media screen and (max-width:600px) {
/* header */
    .header{
        font-size: 10px;
    }
/* navbar */    
    .navbar{
        margin-bottom: 10px;
    }
    .navbar .menu {
        display: none;
    }    
    #menuicon{
        display: inline-block;
        cursor: pointer;
    }
/* sidenav */    
    .sidenav{
        display: inline-block;
        left: 0;
        height: 100vh;
        overflow-y: auto;
        display: none;
        position: fixed;
    }
/* slider */    
    .container{
        height: 200px;
    }
    .overlay{
        height: 200px;
        font-size: x-small;
    }
    .overlay h1{
        color: white;
        position: absolute;
        top: 42%;
        left: 70px; 
        font-size: 12px; 
    }
    .overlay button{
        background-color: white;
        position: absolute;
        top: 57%;
        left: 70px;
        width: 70px;
        height: 20px;
        border-radius: 7px;
        cursor: pointer;
        font-size: 12px;
    }
    .btn-left{
        color: rgb(165, 165, 165);   
        position: absolute;
        top: 35%;
        cursor: pointer;
        z-index: 1;
        opacity: 0.5;
    }
    .btn-right{
        color: rgb(165, 165, 165);   
        position: absolute;
        right: 0;
        top: 35%;
        cursor: pointer;
        opacity: 0.5;
    }
/* brands */    
    .brands{
        padding: 20px;
        margin-top: 10px;
    }
    .brands .names{
        gap: 20px;
    }
    .brands img{
        width: 30px;
        height: 15px;
    }
/* assurance */    
    .assurance{
        margin-top: 20px;
    }
    .assurance h1{
        font-size: xx-small;
    }
    .assurance p{
        font-size: xx-small;
        text-align: right;
    }
/* promise */
    .promise{
        gap: 5px;
        margin-top: 10px;
     }
     .promise h3{
        font-size: xx-small;
     }
     .promise p{
        font-size: xx-small;
     }
     .promise img {
         width: 20px;
         margin-bottom: 5px;
     }
     .promise2 img{
         width: 20px;
         margin-bottom: 5px;
     }
     .promise4 img{
         width: 26px;
         margin-bottom: 0;
     }
     .promise .promise1,.promise2,.promise3,.promise4 {
         background-color: rgb(216, 216, 216);
         width: 560px;
         padding: 5px;
         border-radius: 5px;
     }
/* newarrival */
     .newarrival{
        padding: 20px;
        margin-top: 10px;
    }
    .newarrival h1{
        font-size: 22px;
    }
    .container1{
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    .newarr1,.newarr2,.newarr3,.newarr4 {
        position: relative;
        display: inline-block;
        border-radius: 10px;
        margin-top: 20px;
    }
    .newarr1 button,.newarr2 button,.newarr3 button,.newarr4 button{
        position: absolute;
        background-color: rgb(207, 207, 207);
        left: 20px;
        top: 35px;
        width: 30px;
        height: 15px;
        z-index: 1;
        border-radius: 2px;
        cursor: pointer;
        border: none;
        font-size: 8px;
    }
    .newarr1 img,.newarr2 img,.newarr3 img,.newarr4 img {
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 5px;
        width: 51px;
        height: 70px;
    }
    
    .newarr1::after,.newarr2::after,.newarr3::after,.newarr4::after {
        border-radius: 5px;
    }
/* mostwanted */
    .mostwanted{
        margin-top: 10px;
    }
    .mostwanted h1{
        font-size: 22px;
    }
    .container2{
        padding-left: 2px;
        padding-right: 2px;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 150px;
        gap: 15px;
        margin: 2px auto;
        overflow-x: auto;
    }
    .most1{
        border: 1px solid rgb(228, 228, 228);
        border-radius: 10px;
        width: 100px;
        height: 100px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        position: relative;
        margin-top: 30px;
        
    }
    .most1 img{
        width: 100px;
        height: 100px;
        border-radius: 10px;
    }
    
    #btn1,#btn2,#btn3,#btn4,#btn5,#btn6,#btn7,#btn8{
        display: inline-block;
        font-size: 18px;
        right: 5px;
        bottom: 5px;
    }   
    .most1 .btn{
        border-radius: 2px;
        left: 5px;
        top: 5px;
        width: 30px;
        height: 15px;
        font-size: x-small;
    }
/* ltd offer */
    .ltdoffer{
        padding: 20px;
    }
    .offer{
        width: fill;
        height: 200px;
    }
    .offer img{
        position: absolute;
        top: 40px;
        left: 10px;
        width: 150px;
    }
    .offertag{
        position: absolute;
        top: 70px;
        right: 10px;
        font-size: xx-small;
        color: white;
        width: 120px;
    }
    .offer button{
        width: 60px;
        height: 15px;
        font-size: xx-small;
        border-radius: 3px;
        outline: none;
        border: none;
        margin-top: 5px;
    }
/* newsltr */
    .newsltr{
        padding: 20px;
        margin-top: 20px;
        gap: 10px;
    }
    #newshead{
        font-size: 20px;
    }
    .newspar{
        font-size: 8px;
    }
    .newsltr input{
        width: 300px;
        height: 5px;
        border: 2px solid black;
        padding: 10px;
    }
    .newsltr ::placeholder{
        padding: 0;
        font-size: 12px;
    }
    .newsltr button{
        background-color: black;
        color: white;
        width: 100px;
        height: 30px;
        font-size: small;
        border-radius: 5px;
        gap: 5px;
        cursor: pointer;
        border: none;
        outline: none; 
    }
/* footer */
    .footer{
        background-color: black;
        color: white;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 30px;
    }
    .footer h1{
        font-size: 22px;
    }
    .footer p{
        font-size: 10px;
    }
    .icons{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    #icon {
        font-size: 16px;
    }
/* filter section */
   .collections{
    padding: 20px;
    display: flex;
    flex-direction: column;
    }
    .fltrsection{
    width: fill;
    }
    .filters{
        display: flex;
        flex-direction: row;
    }
    .filters h3{
    font-size: 24px;
    margin-bottom: 5px;
    }
    .occasion input,.colors input,.arraivals input{
    margin-bottom: 5px;
    }
.occasion label,.colors label,.arraivals label{
    font-size: 12px;
}
input[type="checkbox"] {
    transform: scale(0.7);
}
.vertical-line{
    height: 520px;
    display: none;
}
/* dresscollection */

.drsscollection{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 5px;
}
.product{
    background-color: rgb(255, 255, 255);
    width: 150px;
    width: 90px;
    text-align: center;
    margin-bottom: 10px;
}
.product h2,.product p{
    font-size: x-small;
}
.dresses img{
    width: 90px;
    height: 100px;
    margin-left: 6px;  
}
.dresses{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    flex-basis: 25%;
}
.searchoptn input{
    width: 285px;
    height: 30px;
    border: 2px black solid;
    border-radius: 10px;
    padding-left: 10px;
    position: relative;
}

/* contact form */
.contactfrm{
    padding: 20px;
    background-color: white;
    margin-top: 20px;
}
.frmcontainer{
    background-color: black;
    color: white;
    width: 275px;
    margin-left: 0;
    height: 360px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.frmcontainer h1{
    text-align: left;
    font-size: 26px;
}
.frmcontainer p{
    font-size: 16px;
}
.frmcontainer input{
    width: 265px;
    height: 25px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding-left: 10px;
}
.frmcontainer textarea{
    width: 265px;
    height: 50px;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 10px;
}
.frmcontainer button{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: rgb(93, 93, 255);
    color: white;
    font-size: 14px;
}
.frmcontainer button:hover{
    background-color: blue;
}

}